{% extends 'admin/base.html.twig' %}

{% block body %}

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Editer L'utilisateur {{ user.email }}</h4>
      <div class="row">
        <div class="col-12">
          {{ include('admin/user/_form.html.twig', {button: 'Editer'}) }}
        </div>
      </div>
    </div>
  </div>


{% endblock %}


