{% extends 'security/base_security.html.twig' %}

{% block body %}
    <h4>Reset Mot de passe</h4>
    {% for label, messages in app.flashes %}
        {% if label=='notice' %}
            {% set label = 'success' %}
        {% endif %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <form class="pt-3" method="post">
        <div class="form-group">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        </div>

        <div class="mt-3">
            <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">
                Envoyer le mail
            </button>
        </div>
        <input type="hidden" name="token" value="{{ token }}">
    </form>
{% endblock %}