@font-face{
  font-family:'Blenda';
  src:url("../fonts/Blenda.otf")
}

html{
  height: 100%;
}
body{
  background-color: #ffffff00;
  overflow: hidden;
}

ul{
  list-style-type: none;
}
.container-fluid{
  padding:0px;
  width:100%;
}

.homepage{
  background-color: #3b271c;
  background-repeat: no-repeat;
  background-position: center -160px;
  background-size: cover;
  height: 100%;
  padding-top: 200px;
}

#videoContain {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#myVideo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
}

.logo_pams{
  position: absolute;
  top:15px;
  left:15px;
  z-index: 1000;
  padding: 10px;
}

.navbar-inverse{
  display: none;
  background: #3b271c;
  border:none;
  padding:10px 0;
  margin: 0;
  border-radius: 0;
}

.navbar-nav{
  float:right;
}

.navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a{
  color:#ffffff;
  font-size: 24px;
}

.input-group-lg{
  text-align: center;
}

.form-control.input-pams{
  display: inline-block;
  height: 82px;
  line-height: 80px;
  border-radius: 100px;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2);
  color:#3b271c;
  margin-bottom: 50px;
}

.btn-go{
  width:150px;
  height:150px;
  text-transform: uppercase;
  font-size: 64px;
  color:#ffffff;
  border: 1px solid transparent;
  background: #3b271ccc;
  border-radius: 180px;
}

.home-message{
  color:#ffffff;
  font-size: 36px;
}

.flash-warning{
  background-color: red;
  color: white;
  padding: 25px;
  width: 250px;
  margin: 0 auto;
  border-radius: 25px;
  font-size: 16px;
  margin-bottom: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#errorContainer{
  position: absolute;
  width: 100%;
  top: -96px;
}

.container-fluid.footer {
  position: absolute;
  bottom: 0px;
}
.footer p{
  padding:10px 0;
  color:#ffffff;
  text-align: center;
}

.social-networks a{
  display: inline-block;
  background: #3b271ccc;
  height: 60px;
  width:60px;
  line-height: 60px;
  border-radius: 30px;
  color:#fff;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  margin:0 15px;
}

.social-networks a:hover{
  background: #3b271c;
}

.btn-go{
  color:transparent;
  background-image: url("../images/unlock.png");
  background-position: center;
  background-size: inherit;
  background-repeat: no-repeat;
}

.btn-go:hover, .btn-go:focus, .btn-go:active{
  color:transparent;
  background-image: url("../images/unlock.png");
  background-position: center;
  background-size: inherit;
  background-repeat: no-repeat;
}

#pams_entree label, .btn-go label{
  display: none;
}
.homepage .input-group-lg{
    text-align: center;
    width: 66.6%;
    margin: 0 auto;
}

.bodyTimer{
  opacity: 0;
  transform: scale(0.1);
}

.hidetimer{
  opacity: 1!important;
  transform: scale(1)!important;
  transition: all 5s;
 }

 .hide{
   display: none;
 }

 /* Page Firstform */


 #firstform-body{
   background-color: #FFF;
   min-height: 920px;
   height: 100%;
 }

 /*
 #firstform-footer{
   height: 80px;
   background-color: #3b271c;
 }*/

  #firstform-content{
    margin-top: 15px;
  }
  
  .firstform-top-inputs{
    max-width: 768px;
    margin: 15px auto;
  }

  .firstform-below-inputs{
    max-width: 636px;
    margin: 15px auto;
  }

  .firstform-top-inputs .form-group{
    display: inline-block;
    width: 47%;
    margin-right: 16px;
  }

  .firstform-content-row .form-group input{
    padding: 25px;
  }
  
 .firstform-header, .firstform-subheader{
  text-align: center;
 }

 .firstform-header{
   background-color: #2c2320;
   color: #FFF;
   height: 125px;
   vertical-align: middle;
   
 }

 .firstform-header h1{
   font-family: 'Blenda', sans-serif;
   color: #eeb638;
   margin-top: 0px;
   padding-top: 44px;
 }

 .firstform-subheader{
   padding: 8px 0px 2px 0px;
   background-color: #eaeaea;
 }

 .firstform-subheader div{
   font-size: 14px;
   font-weight: 600;
  max-width: 960px;
  margin: 0 auto;
 }

 #firstform-check label{
   font-weight: 200;
   color: #d8ba2a;
 }

 [type="checkbox"]:not(:checked),
 [type="checkbox"]:checked {
   width: 17px; height: 17px; 
   border: 1px solid #d8ba2a;
   background: #fff;
   border-radius: 3px;
 }


.firstform-below-inputs label{
  background-color:  #e3c534;
  color: white;
  padding: 10px;
  width: 100%;
  margin-bottom: -2px;
  font-family: 'Blenda', sans-serif;
  font-size: 22px;
  font-weight: 100;
  padding-left: 86px;
}

.firstform-below-inputs .form-group{
  position: relative;
  margin: 46px;
}

.firstform-below-inputs .form-group input{
  border-top: none;
  padding-left: 86px;
  
}

#firstform-beneficiaire:before{
  content:url(../images/accueil-beneficiaire-sm.png) ;
}

#firstform-date:before{
  content:url(../images/accueil-date-sm.png) ;
}

#firstform-titre:before{
  content:url(../images/accueil-titre-sm.png  ) ;

}

#firstform-titre:before, #firstform-date:before, #firstform-beneficiaire:before{
  position: absolute;
  top: -28px;
  left: -64px;
}

#firstform-btn-container{
  text-align: center;
  margin: 25px;
}

#firstform-submit, #firstform-submit:hover, #firstform-submit:active, #firstform-submit:focus{
  background-color: #5cb85c;
  border-color: #5cb85c;
  padding: 5px 35px;
}

.button-container{
  text-align: center;
}
.submit-btn, .submit-btn:focus, .submit-btn:hover, .submit-btn:active{
  background-color: #5cb85c;
  border-color: #5cb85c;
  padding: 5px 35px;
}

.seemore-btn, .seemore-btn:focus, .seemore-btn:hover, .seemore-btn:active{
  background-color: #007bff;
  border-color: #007bff;
  padding: 5px 35px;
}


/*Datepicker*/

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/*******************************************************
********************Page de Création ********************
*********************************************************/

#createBody{
  background-color: pink;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#bodyBackdrop{
  background-color: transparent;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 120px;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: block;
}

#createNav{
  padding-top: 25px;
  display: inline-block;
}

.create-container{
    margin-top: 40vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

#navLeft, #navRight{
  display: inline-block;
}

#navLeft{
  float: left;
}
#navRight{
  float: right
}

#navLeft ul, #navRight ul{
  margin-left: 0px;
}

#navRight ul{
  padding-right: 40px;
}

#navLeft ul li, #navRight ul li{
  display: inline-block;
  margin: 0px 6px;
}

#navLeft ul li img, #navRight ul li img{
  width: 52px;
}


/**Layouts Create Pams **/

.Content50{
  height: 320px;
}

.Content75{
  height: 480px;
}

.Content37{
  height: 240px;
}
.Content25{
  height: 160px;
}

.Content33{
  height: 213px;
}

.Content100{
  height: 640px;
}


.createContent{
  padding: 30px;
  text-align: center;
  transition: all 1s ease-out;
}


.createContent div, .removed-content{
  background-image: url("../images/ajout-contenu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 42px;
  border: 3px dashed grey;
  height: 100%;
  border-radius: 25px;
}

.content-right-bottom-absolute{
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.content-left-top-absolute{
  position: absolute;
  left: 50%;
  top: 0;
}

.content-right-absolute{
  position: absolute;
  left: 75%;
  bottom: 0px;
}

.content-center-absolute{
  position: absolute;
  top: 0px;
  left: 25%;
}

/**end layouts***/

#dispositionContainer{
  background-color: white;
  border-radius: 10px;
  border: 4px solid black;
  width: 420px;
  position: absolute;
  display: none;
  padding: 25px;
  left: 30px;
  z-index: 2;
}

#dispositionContainer h2, #musiqueContainer h2, #imageGalleryContainer h2{
  font-size: 18px;
  text-align: center;
}
#dispositionContainer .button-container{
  text-align: center;
}

.disposition-text div{
  padding: 0px;
}

#backgroundContainer h2{
  font-size: 18px;
  text-align: left;
  display: inline-block;
}

/*Popup disposition*/
#dispositionContainer ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#dispositionContainer li{
  display: inline-block;
}

#dispositionContainer .row{
  margin: 15px 0px;
  padding: 0px 5px;
}

#dispositionContainer input{
  display: none;
}

.disposition-text{
  text-align: center;
  color: #8f8f8f;
}

/*images select*/

#input1aSelect, #input2aSelect, #input2bSelect, #input2cSelect, #input3aSelect, #input3bSelect, #input3cSelect, #input3dSelect, #input4aSelect, #input4bSelect, #input4cSelect, #input4dSelect, #input4eSelect, #input4fSelect, #input4gSelect, #input4hSelect{
  display: none;
}

#input1aLabel:hover #input1aSelect, #input2aLabel:hover #input2aSelect, #input2bLabel:hover #input2bSelect, #input2cLabel:hover #input2cSelect, #input3aLabel:hover #input3aSelect, #input3bLabel:hover #input3bSelect, #input3cLabel:hover #input3cSelect, #input3dLabel:hover #input3dSelect, #input4aLabel:hover #input4aSelect, #input4bLabel:hover #input4bSelect, #input4cLabel:hover #input4cSelect, #input4dLabel:hover #input4dSelect, #input4eLabel:hover #input4eSelect, #input4fLabel:hover #input4fSelect, #input4gLabel:hover #input4gSelect, #input4hLabel:hover #input4hSelect{
 display: inline-block;
}

#input1a:checked+label #input1aSelect, #input2a:checked+label #input2aSelect, #input2b:checked+label #input2bSelect, #input2c:checked+label #input2cSelect, #input3a:checked+label #input3aSelect, #input3b:checked+label #input3bSelect, #input3c:checked+label #input3cSelect, #input3d:checked+label #input3dSelect, #input4a:checked+label #input4aSelect, #input4b:checked+label #input4bSelect, #input4c:checked+label #input4cSelect, #input4d:checked+label #input4dSelect, #input4e:checked+label #input4eSelect, #input4f:checked+label #input4fSelect, #input4g:checked+label #input4gSelect, #input4h:checked+label #input4hSelect{
  display: inline-block;
 }

 #input1aLabel:hover #input1aGrey, #input2aLabel:hover #input2aGrey, #input2bLabel:hover #input2bGrey, #input2cLabel:hover #input2cGrey, #input3aLabel:hover #input3aGrey, #input3bLabel:hover #input3bGrey, #input3cLabel:hover #input3cGrey, #input3dLabel:hover #input3dGrey, #input4aLabel:hover #input4aGrey, #input4bLabel:hover #input4bGrey, #input4cLabel:hover #input4cGrey, #input4dLabel:hover #input4dGrey, #input4eLabel:hover #input4eGrey, #input4fLabel:hover #input4fGrey, #input4gLabel:hover #input4gGrey, #input4hLabel:hover #input4hGrey{
  display: none;
 }

 #input1a:checked+label #input1aGrey, #input2a:checked+label #input2aGrey, #input2b:checked+label #input2bGrey, #input2c:checked+label #input2cGrey, #input3a:checked+label #input3aGrey, #input3b:checked+label #input3bGrey, #input3c:checked+label #input3cGrey, #input3d:checked+label #input3dGrey, #input4a:checked+label #input4aGrey, #input4b:checked+label #input4bGrey, #input4c:checked+label #input4cGrey, #input4d:checked+label #input4dGrey, #input4e:checked+label #input4eGrey, #input4f:checked+label #input4fGrey, #input4g:checked+label #input4gSelect, #input4h:checked+label #input4hGrey{
  display: none;
 }

 /*Popup FAQ*/
 #FAQContainer{
  background-color: white;
  border-radius: 10px;
  border: 4px solid black;
  width: 420px;
  min-height: 400px;
  position: absolute;
  padding: 10px 0px 0px 0px;
  right: 25px;
  z-index: 1;
  display: none;
}

#question1modal{
  z-index: 1;
}

#FAQContainer h2{
  text-align: center;
  font-size: 24px;
}

#FAQContainer ul{
  margin: 0 auto;
  padding: 20px 40px;
}

#FAQContainer ul li{
  margin-bottom: 12px;
  color: #7575ff;
  text-decoration: inline;
}

#FAQQuestionsContainer{
  height: 420px;
  overflow: auto;
}

/*Popup Background*/

#backgroundContainer{
    background-color: white;
    border-radius: 10px;
    border: 4px solid black;
    width: 200px;
    position: absolute;
    padding: 10px 0px 0px 0px;
    left: 20px;
    z-index: 2;
    display: none;
}

/*popup image librairie*/
#imageGalleryContainer{
  background-color: white;
  border-radius: 10px;
  border: 4px solid black;
  width: 420px;
  min-height: 400px;
  position: absolute;
  padding: 10px 0px 0px 0px;
  left: 232px;
  z-index: 2;
  display: none;
}

#imageUploaderContainer span, #musiqueUploaderContainer span{
  display: block;
}

#imageUploaderContainer, #musiqueUploaderContainer{
  text-align: center;
  margin: 0px 10px;
  height: 120px;
  padding: 20px;
  border: 2px dashed grey;
}


#imagePicker, #musiqueUploader{
  width: 137px;
  display: block;
  margin: 0 auto;
}
/**/


#backgroundContainer ul li:first-of-type{
  float:left;
}

#backgroundContainer ul{
  padding: 0px 20px 0px 40px;
}

#backgroundContainer ul li img{
  display: block;
}

#colorPickerContainer{
  position: absolute;
  left: 208px;
  top: 0px;
  display: none;
}

#backgroundOpacityContainer{
  background-color: black;
  height: 82px;
  padding: 10px;
  color: white;
}


.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

 #addImageContent, #addVideoContent{
  display: none;
}

#bgImageGallery{
  width: 354px;
  margin: 20px auto;
}

ul.thumbnails.image_picker_selector li .thumbnail img {
  -webkit-user-drag: none;
  width: 104px;
  height: 104px;
}

ul.thumbnails.image_picker_selector li {
  margin: 0px;
  float: left;
}
ul.thumbnails.image_picker_selector li .thumbnail {
  padding: 6px;
  border: none;
}
ul.thumbnails.image_picker_selector {
  width: 354px;
  margin: 0 auto;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
  background: #28a745;
  border-radius: 4px;
}

#imageGalleryTitle, #musiqueGalleryTitle{
  width: 100%;
  background-color: #f1f1f1;
  display: inline-block;
  font-weight: 600;
  padding: 6px 20px;
}


/*Widget Musique*/


#musiqueContainer{
  display: none;
}

#musiqueContainer{
  background-color: white;
  border-radius: 10px;
  border: 4px solid black;
  width: 420px;
  position: absolute;
  padding: 25px 0px 0px 0px;
  left: 200px;
  z-index: 2;
}


#musiqueGalleryTitle{
  text-align: center;
}

#musiqueGallery h2{
  margin-top:20px;
}

#musiqueGallery ul, #imageGallery ul{
  padding: 0px;
  width: 370px;
  margin: 0 auto;
}

#musiqueGalleryList, #imageGalleryList{
  height: 254px;
  overflow: auto;
  padding-top: 20px;
}


#musiqueGallery ul li, #imageGallery ul li{
  display: inline-block;
  margin: 0px 10px;
  width: 100px;
  margin-bottom: 0px;
}

#musiqueGalleryList ul li p, #imageGalleryList ul li p{
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}

#musiqueGallery .categorie, #imageGallery .categorie{
  display: none;
}

#sound{
  position: absolute;
  top: 22px;
  right: 200px;
  outline:none;
}

.selected-audio, .selected-image{
  border: 5px solid #5cb85c;
  border-radius: 20px;
}

#submitAudio{
  display: none;
}


/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

/*Range Opacity*/

.rangecontainer {
  width: 100%; /* Width of the outside container */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;   
  background: white;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: black;
  cursor: pointer;
  border: 2px solid white;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  border: 2px solid white;
}

#opacityValue{
  color:white;
}

#opacityValueContainer{
  float:right;
}

/***Layouts create**/

.create-container{
  display: none;
}

.disposition-active{
  display: block;
}


/**ajout contenu bloc**/

.modal-backdrop{
  z-index: 0;
}

.modal-content{
  background-color: white;
  border-radius: 10px;
  border: 4px solid black;
}

.content-modal ul{
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}

.content-modal ul li{
  display: inline-block;
  margin: 0px 8px;
}

.content-modal ul li span{
  display: block;
  text-align: center;
}

#modalTextFormContainer{
  display: none;
}

.to-populate{
  padding: 10px;
}

.to-populate-citation, .to-populate-infos, .to-populate-auteur{

  font-family: 'Blenda', sans-serif;
}

.to-populate-citation{
  padding: 10px;
  font-size: 38px;
  color: white;
}

.to-populate-auteur{
  text-align:right;
  font-size: 18px;
  color: black;
  margin-bottom: 0px;
}

.to-populate-infos{
  text-align:right;
  font-size: 14px;
  color: black;
}


.filled-block{
  background: none!important;
}

.content-added{
  content: url("../images/supprimer-bloc-xs.png");
  position: absolute;
  top: -32px;
  right: 24px;
  display: none;
}

.createContentVideo{
  width: 100%;
  height: 100%;
  display: none;
}


#sendDataSubmit, #sendDataSubmit:hover, #sendDataSubmit:active, #sendDatasubmit:focus{
  position: absolute;
  right: 45px;
  background-color: white;
  color: black;
  border: 2px solid black;
  width: 116px;
  border-radius: 12px;
  outline: none;
}

/*citations container*/
#citationsAllContainer{
  display: none;
}

#citationsContainer {
  background-color: white;
  border-radius: 10px;
 /* border: 4px solid black;
    width: 620px;*/
  min-height: 320px;
  padding: 40px;
 /* position: absolute; */
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  z-index: 2;
  margin-bottom: 12px;
}

#citationFormSubmit{
  float: right;
}

#citationsLibraryContainerToggle{
  float: left;
}


#citationsSelectionContainer{
  height: 282px;
  overflow: auto;
}

#citationsSelectionContainer label{
  font-size: 18px;
  padding: 0px;
}

#citationsSelectionContainer li{
  margin: 10px 0px;
}

/** popup video **/

.video-modal .modal-content{
  background-color: transparent;
    border-radius: 0px;
    border: none;
}

.video-modal button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  text-align: right;
  color: white !important;
}

.video-modal .modal-dialog-centered{
  max-width: 920px !important;
  width: 920px !important;
}

.slideUp{
  transform: translate(0,-100%);
  opacity: 0;
  transition: all 1s ease-out;
}

.slideHide{
  visibility: hidden;
  z-index: -10;
}