<div class="modal fade video-modal" id="createContent4f-1VideoModalContainer" tabindex="-1" role="dialog" aria-labelledby="createContent4f-1VideoModalContainer" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body">
            <video autoplay controls id="createContent4f-1VideoModal" class="createContentVideo" data-toggle="modal" data-target="#exampleModalCenter"></video>
      </div> 
    </div>
  </div>
</div>

<div class="modal fade video-modal" id="createContent4f-2VideoModalContainer" tabindex="-1" role="dialog" aria-labelledby="createContent4f-2VideoModalContainer" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body">
            <video autoplay controls id="createContent4f-2VideoModal" class="createContentVideo" data-toggle="modal" data-target="#exampleModalCenter"></video>
      </div> 
    </div>
  </div>
</div>

<div class="modal fade video-modal" id="createContent4f-3VideoModalContainer" tabindex="-1" role="dialog" aria-labelledby="createContent4f-3VideoModalContainer" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body">
            <video autoplay controls id="createContent4f-3VideoModal" class="createContentVideo" data-toggle="modal" data-target="#exampleModalCenter"></video>
      </div> 
    </div>
  </div>
</div>

<div class="modal fade video-modal" id="createContent4f-4VideoModalContainer" tabindex="-1" role="dialog" aria-labelledby="createContent4f-4VideoModalContainer" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body">
            <video autoplay controls id="createContent4f-4VideoModal" class="createContentVideo" data-toggle="modal" data-target="#exampleModalCenter"></video>
      </div> 
    </div>
  </div>
</div>
