
<!--//////////////////////////////////////////////////////
/////////////////////// ALL LAYOUTS //////////////////////
////////////////////////////////////////////////////////// -->

<!--Layout1a-->
{% include 'default/videomodals/videomodal1a.html.twig' %}
<div id="1a" class="create-container container">
    <div class="row">
        <div id="createContent1a-1" class="createContent Block1 col-12 Content100">
            <span id="content-addedcreateContent1a-1" class="content-added"></span>
            <div id="triggercreateContent1a-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent1a-1Video" class="createContentVideo"  data-toggle="modal" data-target="#createContent1a-1VideoModalContainer">
                </video>
                <p class="to-populate fr-view"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout2a-->
{% include 'default/videomodals/videomodal2a.html.twig' %}
<div id="2a" class="create-container container ">
    <div class="row">
        <div id="createContent2a-1" class="createContent Block1 col-12 Content25">
            <span id="content-addedcreateContent2a-1" class="content-added"></span>
            <div id="triggercreateContent2a-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent2a-1Video" class="createContentVideo" data-toggle="modal" data-target="#createContent2a-1VideoModalContainer">  
                   </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent2a-2" class="createContent Block2 col-12 Content75">
            <span id="content-addedcreateContent2a-2" class="content-added"></span>
            <div id="triggercreateContent2a-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent2a-2Video" class="createContentVideo"  data-toggle="modal" data-target="#createContent2a-2VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>


<!--Layout2b-->
{% include 'default/videomodals/videomodal2b.html.twig' %}
<div id="2b" class="create-container container">
    <div class="row">
        <div id="createContent2b-1" class="createContent Block1 col-6 Content100">
            <span id="content-addedcreateContent2b-1" class="content-added"></span>
            <div id="triggercreateContent2b-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent2b-1Video" class="createContentVideo" data-toggle="modal" data-target="#createContent2b-1VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent2b-2" class="createContent Block2 col-6 Content100 ">
            <span id="content-addedcreateContent2b-2" class="content-added"></span>
            <div id="triggercreateContent2b-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent2b-2Video" class="createContentVideo" data-toggle="modal" data-target="#createContent2b-2VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout2c-->
{% include 'default/videomodals/videomodal2c.html.twig' %}
<div id="2c" class="create-container container">
    <div class="row">
        <div id="createContent2c-1" class="createContent Block1 col-12 Content50 ">
            <span id="content-addedcreateContent2c-1" class="content-added"></span>
            <div id="triggercreateContent2c-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent2c-1Video" class="createContentVideo" data-toggle="modal" data-target="#createContent2c-1VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent2c-2" class="createContent Block2 col-12 Content50 ">
            <span id="content-addedcreateContent2c-2" class="content-added"></span>
            <div id="triggercreateContent2c-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent2c-2Video" class="createContentVideo" data-toggle="modal" data-target="#createContent2c-2VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>
</div>


<!--Layout3a-->
{% include 'default/videomodals/videomodal3a.html.twig' %}
<div id="3a" class="create-container container ">
    <div class="row">
        <div id="createContent3a-1" class="createContent Block1 col-6 Content50">
            <span id="content-addedcreateContent3a-1" class="content-added"></span>
            <div id="triggercreateContent3a-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent3a-1Video" class="createContentVideo"  data-toggle="modal" data-target="#createContent3a-1VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent3a-2" class="createContent Block2 col-6 Content50">
            <span id="content-addedcreateContent3a-2" class="content-added"></span>
            <div id="triggercreateContent3a-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent3a-2Video" class="createContentVideo" data-toggle="modal" data-target="#createContent3a-2VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent3avisible-3" class="createContent Block3 col-12 Content50">
            <span id="content-addedcreateContent3a-3" class="content-added"></span>
            <div id="triggercreateContent3a-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent3a-3Video" class="createContentVideo" data-toggle="modal" data-target="#createContent3a-3VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout3b-->
{% include 'default/videomodals/videomodal3b.html.twig' %}
<div id="3b" class="create-container container ">
    <div class="row">
        <div id="createContent3b-1" class="createContent Block1 col-3 Content100">
            <span id="content-addedcreateContent3b-1" class="content-added"></span>
            <div id="triggercreateContent3b-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent3b-1Video" class="createContentVideo" data-toggle="modal" data-target="#createContent3b-1VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="triggercreateContent3b-2" class="createContent Block2 col-6 Content100">
            <span id="content-addedcreateContent3b-2" class="content-added"></span>
            <div id="createContent3b-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent3b-2Video" class="createContentVideo" data-toggle="modal" data-target="#createContent3b-2VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>

                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="triggercreateContent3bvisible-3" class="createContent Block3 col-3 Content100">
            <span id="content-addedcreateContent3b-3" class="content-added"></span>
            <div id="createContent3b-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent3b-3Video" class="createContentVideo" data-toggle="modal" data-target="#createContent3b-3VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>

                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout3c-->
{% include 'default/videomodals/videomodal3c.html.twig' %}
<div id="3c" class="create-container container ">
    <div class="row">
        <div id="createContent3c-1" class="createContent Block1 col-6 Content100">
            <span id="content-addedcreateContent3c-1" class="content-added"></span>
            <div id="triggercreateContent3c-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent3c-1Video" class="createContentVideo" data-toggle="modal" data-target="#createContent3c-1VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent3c-2" class="createContent Block2 col-6 Content50">
            <span id="content-addedcreateContent3c-2" class="content-added"></span>
            <div id="triggercreateContent3c-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent3c-2Video" class="createContentVideo" data-toggle="modal" data-target="#createContent3c-2VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>

        <div id="createContent3cvisible-3" class="createContent Block3 col-6 Content50 content-right-bottom-absolute">
            <span id="content-addedcreateContent3c-3" class="content-added"></span>
            <div id="triggercreateContent3c-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent3c-3Video" class="createContentVideo" data-toggle="modal" data-target="#createContent3c-3VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

</div>

<!--Layout3d-->
{% include 'default/videomodals/videomodal3d.html.twig' %}
<div id="3d" class="create-container container ">
    <div class="row">
        <div id="createContent3d-1" class="createContent Block1 col-12 Content25">
            <span id="content-addedcreateContent3d-1" class="content-added"></span>
            <div id="triggercreateContent3d-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent3d-1Video" class="createContentVideo" data-toggle="modal" data-target="#createContent3d-1VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent3d-2" class="createContent Block2 col-6 Content75">
            <span id="content-addedcreateContent3d-2" class="content-added"></span>
            <div id="triggercreateContent3d-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent3d-2Video" class="createContentVideo" data-toggle="modal" data-target="#createContent3d-2VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent3dvisible-3" class="createContent Block3 col-6 Content75">
            <span id="content-addedcreateContent3d-3" class="content-added"></span>
            <div id="triggercreateContent3d-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent3d-3Video" class="createContentVideo" data-toggle="modal" data-target="#createContent3d-3VideoModalContainer">  

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout4a-->
{% include 'default/videomodals/videomodal4a.html.twig' %}
<div id="4a" class="create-container container disposition-active ">
    <div class="row">
        <div id="createContent4a-1" class="createContent Block1 col-8 Content50">
            <span id="content-addedcreateContent4a-1" class="content-added"></span>
            <div id="triggercreateContent4a-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted id="createContent4a-1Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4a-1VideoModalContainer">
                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4a-2" class="createContent Block2 col-4 Content50">
            <span id="content-addedcreateContent4a-2" class="content-added"></span>
            <div id="triggercreateContent4a-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted id="createContent4a-2Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4a-2VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent4avisible-3" class="createContent Block3 col-4 Content50">
            <span id="content-addedcreateContent4a-3" class="content-added"></span>
            <div id="triggercreateContent4a-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4a-3Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4a-3VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4a-4" class="createContent Block4 col-8 Content50">
            <span id="content-addedcreateContent4a-4" class="content-added"></span>
            <div id="triggercreateContent4a-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4a-4Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4a-4VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout4b-->
{% include 'default/videomodals/videomodal4b.html.twig' %}
<div id="4b" class="create-container container ">
    <div class="row">
        <div id="createContent4b-1" class="createContent Block1 col-12 Content25">
            <span id="content-addedcreateContent4b-1" class="content-added"></span>
            <div id="triggercreateContent4b-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4b-1Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4b-1VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent4b-2" class="createContent Block2 col-6 Content50">
            <span id="content-addedcreateContent4b-2" class="content-added"></span>
            <div id="triggercreateContent4b-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4b-2Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4b-2VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4bvisible-3" class="createContent Block3 col-6 Content50">
            <span id="content-addedcreateContent4b-3" class="content-added"></span>
            <div id="triggercreateContent4b-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4b-3Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4b-3VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent4b-4" class="createContent Block4 col-12 Content33">
            <span id="content-addedcreateContent4b-4" class="content-added"></span>
            <div id="triggercreateContent4b-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4b-4Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4b-4VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout4c-->
{% include 'default/videomodals/videomodal4c.html.twig' %}
<div id="4c" class="create-container container ">
    <div class="row">
        <div id="createContent4c-1" class="createContent Block1 col-6 Content50">
            <span id="content-addedcreateContent4c-1" class="content-added"></span>
            <div id="triggercreateContent4c-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4c-1Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4c-1VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4c-2" class="createContent Block2 col-6 Content50">
            <span id="content-addedcreateContent4c-2" class="content-added"></span>
            <div id="triggercreateContent4c-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4c-2Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4c-2VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent4cvisible-3" class="createContent Block3 col-6 Content50">
            <span id="content-addedcreateContent4c-3" class="content-added"></span>
            <div id="triggercreateContent4c-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4c-3Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4c-3VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4c-4" class="createContent Block4 col-6 Content50">
            <span id="content-addedcreateContent4c-4" class="content-added"></span>
            <div id="triggercreateContent4c-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4c-4Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4c-4VideoModalContainer">
                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout4d-->
{% include 'default/videomodals/videomodal4d.html.twig' %}
<div id="4d" class="create-container container ">
    <div class="row">
        <div id="createContent4d-1" class="createContent Block1 col-4 Content50">
            <span id="content-addedcreateContent4d-1" class="content-added"></span>
            <div id="triggercreateContent4d-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4d-1Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4d-1VideoModalContainer">


                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4d-2" class="createContent Block2 col-4 Content50">
            <span id="content-addedcreateContent4d-2" class="content-added"></span>
            <div id="triggercreateContent4d-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4d-2Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4d-2VideoModalContainer">


                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4dvisible-3" class="createContent Block3 col-4 Content50">
            <span id="content-addedcreateContent4d-3" class="content-added"></span>
            <div id="triggercreateContent4d-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4d-3Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4d-3VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent4d-4" class="createContent Block4 col-12 Content50">
            <span id="content-addedcreateContent4d-4" class="content-added"></span>
            <div id="triggercreateContent4d-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4d-4Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4d-4VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout4e-->
{% include 'default/videomodals/videomodal4e.html.twig' %}
<div id="4e" class="create-container container">
    <div class="container">
        <div class="row">
            <div id="createContent4e-1" class="createContent Block1 col-6 Content100">
                <span id="content-addedcreateContent4e-1" class="content-added"></span>
                <div id="triggercreateContent4e-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay muted  id="createContent4e-1Video" class="createContentVideo"  data-toggle="modal" data-target="#createContent4e-1VideoModalContainer">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container content-left-top-absolute">
        <div class="row">
            <div id="createContent4e-2" class="createContent Block2 col-6 Content33">
                <span id="content-addedcreateContent4e-2" class="content-added"></span>
                <div id="triggercreateContent4e-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay muted  id="createContent4e-2Video" class="createContentVideo"  data-toggle="modal" data-target="#createContent4e-2VideoModalContainer">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="createContent4evisible-3" class="createContent Block3 col-6 Content33">
                <span id="content-addedcreateContent4e-3" class="content-added"></span>
                <div id="triggercreateContent4e-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay muted  id="createContent4e-3Video" class="createContentVideo"  data-toggle="modal" data-target="#createContent4e-3VideoModalContainer">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="createContent4e-4" class="createContent Block4 col-6 Content33">
                <span id="content-addedcreateContent4e-4" class="content-added"></span>
                <div id="triggercreateContent4e-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay muted  id="createContent4e-4Video" class="createContentVideo"  data-toggle="modal" data-target="#createContent4e-4VideoModalContainer">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Layout4f-->
{% include 'default/videomodals/videomodal4f.html.twig' %}
<div id="4f" class="create-container container">
    <div class="container">
        <div class="row">
            <div id="createContent4f-1" class="createContent Block1 col-3 Content100">
                <span id="content-addedcreateContent4f-1" class="content-added"></span>
                <div id="triggercreateContent4f-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay muted  id="createContent4f-1Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4f-1VideoModalContainer">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container content-center-absolute">
        <div class="row">
            <div id="createContent4f-2" class="createContent Block2 col-6 Content50">
                <span id="content-addedcreateContent4f-2" class="content-added"></span>
                <div id="triggercreateContent4f-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay muted  id="createContent4f-2Video" class="createContentVideo"data-toggle="modal" data-target="#createContent4f-2VideoModalContainer">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="createContent4fvisible-3" class="createContent Block3 col-6 Content50">
                <span id="content-addedcreateContent4f-3" class="content-added"></span>
                <div id="triggercreateContent4f-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay muted  id="createContent4f-3Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4f-3VideoModalContainer">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="container content-right-absolute">
        <div class="row">
            <div id="createContent4f-4" class="createContent Block4 col-3 Content100">
                <span id="content-addedcreateContent4f-4" class="content-added"></span>
                <div id="triggercreateContent4f-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                    <video autoplay muted  id="createContent4f-4Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4f-4VideoModalContainer">

                    </video>
                    <p class="to-populate"></p>
                    <p class="to-populate-citation"></p>
                    <p class="to-populate-auteur"></p>
                    <p class="to-populate-infos"></p>
                    <span class="add-content-img"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Layout4g-->
{% include 'default/videomodals/videomodal4g.html.twig' %}
<div id="4g" class="create-container container">
    <div class="row">
        <div id="createContent4g-1" class="createContent Block1 col-6 Content25">
            <span id="content-addedcreateContent4g-1" class="content-added"></span>
            <div id="triggercreateContent4g-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4g-1Video" class="createContentVideo"  data-toggle="modal" data-target="#createContent4g-1VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4g-2" class="createContent Block2 col-6 Content25">
            <span id="content-addedcreateContent4g-2" class="content-added"></span>
            <div id="triggercreateContent4g-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4g-2Video" class="createContentVideo"  data-toggle="modal" data-target="#createContent4g-2VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent4gvisible-3" class="createContent Block3 col-6 Content75">
            <span id="content-addedcreateContent4g-3" class="content-added"></span>
            <div id="triggercreateContent4g-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4g-3Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4g-3VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4g-4" class="createContent Block4 col-6 Content75">
            <span id="content-addedcreateContent4g-4" class="content-added"></span>
            <div id="triggercreateContent4g-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4g-4Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4g-4VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>

<!--Layout4h-->
{% include 'default/videomodals/videomodal4h.html.twig' %}
<div id="4h" class="create-container container">
    <div class="row">
        <div id="createContent4h-1" class="createContent Block1 col-12 Content25">
            <span id="content-addedcreateContent4h-1" class="content-added"></span>
            <div id="triggercreateContent4h-1" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4h-1Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4h-1VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="createContent4h-2" class="createContent Block2 col-6 Content75">
            <span id="content-addedcreateContent4h-2" class="content-added"></span>
            <div id="triggercreateContent4h-2" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4h-2Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4h-2VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
        <div id="createContent4hvisible-3" class="createContent Block3 col-6 Content37">
            <span id="content-addedcreateContent4h-3" class="content-added"></span>
            <div id="triggercreateContent4h-3" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4h-3Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4h-3VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
    <div class="row ">
        <div id="createContent4h-4" class="createContent Block4 col-6 Content37 content-right-bottom-absolute">
            <span id="content-addedcreateContent4h-4" class="content-added"></span>
            <div id="triggercreateContent4h-4" class="trigger-modal-block" data-toggle="modal" data-target="#createContentModal">
                <video autoplay muted  id="createContent4h-4Video" class="createContentVideo" data-toggle="modal" data-target="#createContent4h-4VideoModalContainer">

                </video>
                <p class="to-populate"></p>
                <p class="to-populate-citation"></p>
                <p class="to-populate-auteur"></p>
                <p class="to-populate-infos"></p>
                <span class="add-content-img"></span>
            </div>
        </div>
    </div>
</div>
</div>