<!-- Popup publication-->
<div id="publicationPopup" class="container">
    <form id="publicationPopupEmailForm">
        <div class="row">
        <span class="popup-closer"><i class="fa fa-times" aria-hidden="true"></i></span>
        <h1>Félicitations !</h1>
        <h2>Votre histoire a bien été publiée</h2>
        <p>Souhaitez-vous recevoir une notification lorsque votre histoire sera lue par le destinataire? <br> Si oui, inscrivez votre email-ci-dessous</p>
                        <div id="publicationInputContainer">
                            <input type='email' id="publicationInput" value="" placeholder= "Votre adresse email"/>
                            <button type="submit"><a href="get_notif"><img src="{{ asset('images/envoi.png') }}"></a></button>
                        </div>
        </div>
    </form>
</div>
