<!-- Popup mise a jour-->
<div id="updatePopup" class="container">
    <form id="updatePopupEmailForm">
        <div class="row">
        <span class="popup-closer"><i class="fa fa-times" aria-hidden="true"></i></span>
        <h2>Votre histoire a bien été mise à jour</h2>
        <p>Souhaitez-vous prévenir votre destinataire ? <br> Si oui, inscrivez votre email-ci-dessous</p>
                        <div id="publicationInputContainer">
                            <input type='email' id="publicationInput" value="" placeholder= "Votre adresse email"/>
                            <button type="submit"><a href="get_notif"><img src="{{ asset('images/envoi.png') }}"></a></button>
                        </div>
        </div>
    </form>
</div>
